@font-face {
    font-family: Momo;
    src: url(MomoSignature-Regular.ttf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(236, 236, 216);
    font-family: Momo, sans-serif;
}
.container {
    text-align: center;
}
#bear-img {
    width: 200px;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#yes-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#no-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}